<!DOCTYPE html>
<html>	
<head>
	<title>LOGIN</title>
	<style >
		body{
			background-color: skyblue;
			height: 500px;
			
		}
		div {
  background-color: white;
  width: 120px;
  
  padding: 10px;
  margin: 30px;
}


		
	</style>
</head>

<body>
	<center>
<form method="post" action="../php/log.php" >
	<table  border="10" cellspacing="0" cellpadding="5">
		<tr>
			<td>
				<fieldset>
					<legend><h3>LOGIN</h3></legend>
					User Name<br/>
					<input type="text" name="name"><br/>                               
					Password<br/>
					<input type="password" name="pass">
					<br /><hr/>
					<input type="submit" value="Login" name="submit">
					
				</fieldset>

			</td>
		</tr>                                
	</table>
</form>
<div><a href="home.html">HOME</a>
<a href="reg.html">REGISTRATION</a></div>
</center>
</body>
</html>