<!DOCTYPE html>
<html>
<head>
	<title>SUPPORT</title>
	<style >
		body{
			
			
			background-color: skyblue;	
		}


	</style>
</head>

<body>
	<form method="post" action="../php/sprt.php">
	<h3>Your Name:</h3>
	<input type="text" name="name"><br><br>

	<h3>Your Email:</h3>
	<input type="Email" name="email"><br><br>
   
    <h3>How Can We Help You?</h3>
    <input type="text" name="fdbk" style="height: 150px" size="35" ><br><br>

    <input type="submit" name="submit" value="SEND">   
    </form> 
</body>
</html>