<!DOCTYPE html>
<html>
<head>
<title>Edit Profile</title>
</head>

<body>
    <center>
        <table>

            <tr>
                <td>
                    <h1>Edit Profile Information</h1>
                </td>
            </tr>
             
             <tr>    
                 <td><a href="../php/userEmailEdit.php">Change Email</a></td>
                 
             </tr> 
             <tr>    
                 <td><a href="../php/userNameEdit.php"> Change Name</a> </td>   
             </tr>     
             <tr>    
                 <td> <a href="../php/userDobEdit.php">Change Date Of Birth </a></td>
             </tr>
             <tr>    
                 <td><a href="../php/userPassEdit.php">Change Password</a></td>
             </tr>
             <tr>
              <td>
                 <form action="../php/userProfile.php">
                    <input type="submit" name="back" value="Back">
                 </form>
             </td>
            </tr>
        </table>             
    </center>
</body>
</html>